on:
  # Triggers the workflow Sunday at midnight UTC
  schedule:
    - cron: "0 0 * * 0"
  push:
    branches: main

name: Render and Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
        GGMAP_GOOGLE_API_KEY: ${{ secrets.GOOGLE_MAPS_KEY }}  
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
      
      # add software dependencies here
      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
      - name: Install R dependencies
        run: Rscript -e 'install.packages(c("readr", "tidyr", "reactable", "maps", "ggmap", "plotly"))'

      - name: Publish to GitHub Pages (and render)
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # this secret is always available for github actions
